<div region="west" split="true" title="功能菜单" style="width:250px;height:100%;" iconCls="icon-help">
  <div id="main_menu" class="easyui-accordion" style="height:100%;" fit="true">
    <div title="数据录入" selected="true">
       <a href="javascript:person_info_collect();">人员信息采集</a>
    </div>
    <div title="数据查询">
        content2
    </div>
    <div title="数据统计">
        content3
    </div>
    <div title="系统管理">
        content3
    </div>
  </div>
</div>
<div region="center"  style="padding:5px;background:#eee;">
  <div id="main_tabs" class="easyui-tabs" fit="true">
    <div title="首页">
    </div>
  </div>

</div>
