<!DOCTYPE html>
<html>
<head>
  <title>人员信息采集采集平台</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="easyui-layout">
 <%= yield %>
</body>
</html>
